<!doctype html>

<html>
  <body>
    <p>Hello!</p>
    <p>Please click the link below to confirm your email.</p>
    <p>
      <a href="{{ href }}">Confirm Your Email</a>
    </p>
    <p>If you didn't request this email, you can safely ignore it.</p>
    <div>---</div>
    <p>This is an automated message, please do not reply to this email.</p>
  </body>
</html>
